body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

select {
  width: 300px;
  margin: 10px 0;
}

#gamesSelect {
  width: 900px;
}

#mapTextArea {
  width: 300px;
  height: 100px;
  margin: 10px 0;
}

#allDataArea {
  white-space: pre;
}

#lpOpponent1{
  font-weight: bold;
}

button {
  margin: 10px 0;
}

/* Basic styling for json */
pre {
  background-color: ghostwhite;
  border: 1px solid silver;
  padding: 10px 20px;
  margin: 20px; 
}
.json-key {
  color: #0451A5;
}
.json-value {
  color: #098658;
}
.json-string {
  color: #A31515;
}

/* Basic styling for tabs */
.tab-buttons {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab-buttons button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  margin: 0 0;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab-buttons button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab-buttons button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tab-content {
  display: none;
  padding: 6px 12px;
}

.active {
  display: block;
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {color: red;}