body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

select {
    width: 300px;
    margin: 10px 0;
}

#gamesSelect {
    width: 900px;
}

#mapTextArea {
    width: 300px;
    height: 100px;
    margin: 10px 0;
}

#allDataArea {
    white-space: pre;
}

#lpOpponent1{
    font-weight: bold;
}

button {
    margin: 10px 0;
}

pre {
    background-color: ghostwhite;
    border: 1px solid silver;
    padding: 10px 20px;
    margin: 20px; 
}
.json-key {
    color: #0451A5;
}
.json-value {
    color: #098658;
}
.json-string {
    color: #A31515;
}