<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Player Tools</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <a href="./">Go to Index</a> <br />

    <h1>Add Maps</h1>
    <form id="mapsForm" action="/map" method="POST">
        <label for="mapKey">Key:</label>
        <input type="text" id="mapKey" name="id" required>
        <br>
        <label for="mapValue">Value:</label>
        <input type="text" id="mapValue" name="value" required>
        <br>
        <button type="submit">Add Map</button>
    </form>

    <h1>Add Players</h1>
    <form id="playersForm" action="/player" method="POST">
        <label for="playerKey">Key:</label>
        <input type="text" id="playerKey" name="id" required>
        <br>
        <label for="playerValue">Value:</label>
        <input type="text" id="playerValue" name="value" required>
        <br>
        <button type="submit">Add Player</button>
    </form>

    <h1>Search Players</h1>
    <form id="searchPlayersForm" action="/search" method="POST">
        <label for="searchPlayerValue">Search:</label>
        <input type="text" id="searchPlayerValue" name="value" required>
        <br>
        <button type="submit">Search Player</button>
        <div id="searchPlayerResult"></div>
    </form>

    <h1>Participant Start.gg</h1>
    <form id="participantsListForm" action="/participants" method="GET">
        <label for="eventIdValue">Search:</label>
        <input type="text" id="eventIdValue" name="value" required>
        <label for="participantFlag">Flag:</label>
        <input type="checkbox" id="participantFlag" name="flag">
        <br>
        <button type="submit">List Participant</button>
        <div id="participantListResult"></div>
    </form>

    <script>
        document.getElementById('mapsForm').addEventListener('submit', function (e) {
            e.preventDefault();
            const key = document.getElementById('mapKey').value;
            const value = document.getElementById('mapValue').value;
            fetch('/map', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: key, value: value })
            })
                .then(response => response.text())
                .then(data => alert(data))
                .catch(error => alert('Error: ' + error));
        });

        document.getElementById('playersForm').addEventListener('submit', function (e) {
            e.preventDefault();
            const key = document.getElementById('playerKey').value;
            const value = document.getElementById('playerValue').value;
            fetch('/player', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: key, value: value })
            })
                .then(response => response.text())
                .then(data => alert(data))
                .catch(error => alert('Error: ' + error));
        });

        document.getElementById('searchPlayersForm').addEventListener('submit', function (e) {
            e.preventDefault();
            const value = document.getElementById('searchPlayerValue').value;
            fetch('/search_player', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ text: value })
            })
                .then(response => response.text())
                .then(data => {
                    const players = JSON.parse(data);
                    let htmlContent = '';
                    players.forEach(player => {
                        htmlContent += `<p>${player.name} -- ${player.profile_id} -- ${player.country || 'N/A'} - <a href="https://steamcommunity.com/profiles/${player.steam_id}" target="_blank">Steam</a></p>`;
                    });

                    document.getElementById('searchPlayerResult').innerHTML = htmlContent;
                })
                .catch(error => alert('Error: ' + error));
        });

        document.getElementById('participantsListForm').addEventListener('submit', function (e) {
            e.preventDefault();
            const value = document.getElementById('eventIdValue').value;
            const withFlag = document.getElementById('participantFlag').checked ? 1 : 0;

            fetch(`/participants?id=${value}&with_flag=${withFlag}`, {
                method: 'GET'
            })
                .then(response => response.text())
                .then(data => {
                    document.getElementById('participantListResult').innerHTML = data;
                })
                .catch(error => alert('Error: ' + error));
        });

    </script>
</body>

</html>