<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Player Tools</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
</head>

<body>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script>
        const staticUrl = "{{ url_for('static', filename='') }}";
    </script>

    <!-- <a href="./admin">Go to Admin Page</a> <br /> -->
    <div class="tab-buttons">
        <button class="tab-btn button is-text is-active" data-tab="tab1" onclick="onClickTabs(this)">Index</button>
        <button class="tab-btn button is-text" data-tab="tab2" onclick="onClickTabs(this)">Admin</button>
        <button class="tab-btn button is-text" data-tab="tab3" onclick="onClickTabs(this)">Draft</button>
        <button id="themeButton" class="button is-text" onclick="onClickThemeToggle()">Switch theme</button>
    </div>
    <div class="tab-content active" id="tab1">

        <!-- Player dropdown (for 'Get Details') -->
        <label for="playerSelect">Select Player:</label>
        <select id="playerSelect"></select>
        <input type="text" id="playerTextBox" name="playerTextBox" title="Id of the player">

        <!-- 1. Games Button and Dropdown -->
        <button class="button" id="gamesBtn" onclick="onClickGamesBtn(this)">Games</button>
        <br />

        <select id="gamesSelect" name="gamesSelect" size="10">
        </select>

        <br />

        <!-- Liquipedia textarea to fill -->
        <textarea id="mapTextArea"></textarea>

        <button class="button" onclick="onClickCopyToClipboard()">Copy<span id="validCopy"
                style="display:none;">✅</span></button>
        <button class="button" onclick="onClickReverseLP()">Reverse</button>

        <br />
        <span id="lpDateTime"></span> <button class="button" onclick="onClickCopyLpDateTime()">Copy DateTime</button>
        <br />
        <span id="lpOpponent1"></span> <br />
        <span id="lpOpponent2"></span> <button class="button" onclick="onClickViewGames()">View Games</button>
        <br />

        <!-- Map details display -->
        <pre><code id="jsonArea"></code></pre>
    </div>
    <div class="tab-content" id="tab2">
        <h2>Add Maps</h2>
        <form id="mapsForm" onsubmit="onSubmitMapsForm(event)">
            <label for="mapKey">Key:</label>
            <input type="text" id="mapKey" name="id" required>
            <br>
            <label for="mapValue">Value:</label>
            <input type="text" id="mapValue" name="value" required>
            <br>
            <button class="button" type="submit">Add Map</button>
        </form>
        <hr />
        <h2>Add Players</h2>
        <form id="playersForm" onsubmit="onSubmitPlayersForm(event)">
            <label for="playerKey">Key:</label>
            <input type="text" id="playerKey" name="id" required>
            <br>
            <label for="playerValue">Value:</label>
            <input type="text" id="playerValue" name="value" required>
            <br>
            <button class="button" type="submit">Add Player</button>
        </form>
        <hr />
        <h2>Search Players</h2>
        <form id="searchPlayersForm" onsubmit="onSubmitSearchPlayersForm(event)">
            <label for="searchPlayerValue">Search:</label>
            <input type="text" id="searchPlayerValue" name="value" required>
            <br>
            <button class="button" type="submit">Search Player</button>
            <div id="searchPlayerResult"></div>
        </form>
        <hr />
        <h2>Participant Start.gg</h2>
        <form id="participantsListForm" onsubmit="onSubmitParticipantsListForm(event)">
            <label for="eventIdValue">Search:</label>
            <input type="text" id="eventIdValue" name="value" required>
            <label for="participantFlag">Flag:</label>
            <input type="checkbox" id="participantFlag" name="flag">
            <br>
            <button class="button" type="submit">List Participant</button>
            <div id="participantListResult"></div>
        </form>
    </div>
    <div class="tab-content" id="tab3">
        <h2>Add Drafts</h2>
        <form id="AddDraftForm" onsubmit="onSubmitAddDraftForm(event)">
            <label for="draftKey">Key:</label>
            <input type="text" id="draftKey" name="id" required>
            <br>
            <label for="draftValue">Value:</label>
            <input type="text" id="draftValue" name="value" required>
            <br>
            <button class="button" type="submit">Add Draft</button>
        </form>
        <hr />
        <h2>List Drafts</h2>
        <form id="draftForm" onsubmit="onSubmitDraftForm(event)">
            <!-- Player dropdown (for 'Get Details') -->
            <label for="draftSelect">Select Draft:</label>
            <select id="draftSelect"></select>

            <!-- 1. Games Button and Dropdown -->
            <button class="button">Draft</button>
            <div id="draftListResult"></div>
        </form>
    </div>
</body>

</html>